:root {
    color-scheme: light dark; /* both supported */
}

html {
    min-height: 100%;
}

body {
    padding-top: 5.2rem;
}

@media (prefers-color-scheme: light) {
    body {
        color: #37444E;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 1.6em;
        font-weight: 300;
        letter-spacing: .01em;
        line-height: 1.6;
        background-color: #EAEEF4;
    }

    a {
        color: #2F2860;
    }

    footer {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: white;
        padding-top: 2rem;
        padding-bottom: 2rem;
        box-shadow: 0 0 20px 0 #00000012;
    }

    h2.title {
        font-weight: 600;
        color: #2F2860;
        font-size: 22px;
    }

    section.content-box {
        background-color: white;
        border-radius: 6px;
        padding: 30px;
        position: relative;
        box-shadow: 0 0 20px 0 #0000000f;
        margin-bottom: 110px;
    }

    section.content-box h3 {
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 10px;
        color: #2F2860;
        margin-top: 20px;
    }

    section.content-box h3 {
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 10px;
        color: white;
        margin-top: 20px;
    }

    table tr td {
        border-bottom: 0px;
        font-weight: 600;
        color: #37444E;
    }

    input, select {
        display: block !important;
        background-color: white;
        border: 1px solid #EAEEF4 !important;
        padding: 5px 20px !important;
        height: 46px !important;
        -moz-box-sizing: border-box !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
    }

    input[type="text"], input[type="email"], input[type="password"], select {
        margin-bottom: 25px;
        color: #2F2860;
    }

    label {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        color: #37444E;
    }

    .login-box {
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 0 20px 0 #0000000a;
        padding: 30px;
        width: 300px;
        max-width: 100%;
    }

    .login-box h1 {
        font-size: 30px;
        font-weight: 600;
        color: #2F2860;
        text-align: center;
    }

    .logo-dark {
        display: none !important;
    }

    .wrapper .row .sidebar {
        min-height: calc(100vh - 5.2rem - 60px);
        background-color: white;
        box-shadow: 0 0 20px 0 #0000000f;
        padding: 30px 30px 30px 40px;
    }

    .navigation {
        background-color: #f4f5f6;;
        box-shadow: 0 0 20px 0 #0000000f;
        z-index: 9990;
        border-bottom: 0;
        position: fixed;
        top: 0;
    }

    .navigation .navigation-link {
        color: #2F2860;
        font-weight: 600 !important;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 1.6em;
        font-weight: 300;
        letter-spacing: .01em;
        line-height: 1.6;
        background-color: #1A182C;
    }

    a {
        color: #90969b;
    }

    .navigation {
        background-color: #201D39;
        box-shadow: 0 0 20px 0 #0000002f;
        z-index: 9990;
        border-bottom: 0;
        position: fixed;
        top: 0;
    }

    .navigation .navigation-link {
        color: white;
        font-weight: 600 !important;
    }

    .wrapper .row .sidebar {
        min-height: calc(100vh - 5.2rem - 60px);
        background-color: #201D39;
        box-shadow: 0 0 20px 0 #0000000f;
        padding: 30px 30px 30px 40px;
    }

    footer {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: #211d39;
        padding-top: 2rem;
        padding-bottom: 2rem;
        box-shadow: 0 0 20px 0 #00000012;
    }

    h2.title {
        font-weight: 600;
        color: white;
        font-size: 22px;
    }

    section.content-box {
        background-color: #2C294A;
        border-radius: 6px;
        padding: 30px;
        position: relative;
        box-shadow: 0 0 20px 0 #0000000f;
        margin-bottom: 110px;
    }

    table tr td {
        border-bottom: 0;
        font-weight: 600;
        color: white;
    }

    input, select {
        display: block !important;
        background-color: #2C294A !important;
        border: 1px solid #46425f !important;
        padding: 5px 20px !important;
        height: 46px !important;
        -moz-box-sizing: border-box !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #7560FF inset !important;
    }

    input[type="text"], input[type="email"], input[type="password"], select {
        margin-bottom: 25px;
        color: white;
    }

    .login-box {
        background-color: #211d39;
        border-radius: 6px;
        box-shadow: 0 0 20px 0 #0000000a;
        padding: 30px;
        width: 300px;
        max-width: 100%;
    }

    .login-box h1 {
        font-size: 30px;
        font-weight: 600;
        color: white;
        text-align: center;
    }

    .logo-light {
        display: none !important;
    }

    label {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        color: white;
    }
}

.wrapper {
    min-height: calc(100vh - 5.2rem);
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 70px;
}


.wrapper .container {
    max-width: 80rem
}

.wrapper > .container {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem
}

.wrapper .row .column {
    padding-top: 2rem;
}

.header {
    background-color: #f4f5f6;
    padding-top: 1rem
}

.sidebar {
    background-color: #fff;
}

.sidebar li {
    list-style: none;
}

@media (min-width: 40rem) {
    .header {
        padding-top: 5rem
    }
}

.header + section {
    border-top: 0
}

.header .container {
    border-top: 0;
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
    position: relative;
    text-align: center
}

.header .button {
    margin-bottom: 4rem;
    margin-top: 2rem
}

@media (min-width: 40rem) {
    .header .button {
        margin-bottom: 4rem;
        margin-top: 2rem
    }
}

@keyframes a {
    0% {
        fill-opacity: 0;
        stroke-dashoffset: 38321
    }

    25% {
        fill-opacity: 0;
        stroke: #4a76ca
    }

    to {
        fill-opacity: 1;
        stroke-dashoffset: 0
    }
}

.navigation {
    display: block;
    height: 5.2rem;
    max-width: 100%;
    width: 100%;
}

.navigation .container {
    padding-bottom: 0;
    padding-top: 0
}

.navigation .navigation-list {
    list-style: none;
    margin-bottom: 0;
    margin-right: 5rem
}

@media (min-width: 80rem) {
    .navigation .navigation-list {
        margin-right: 0
    }
}

.navigation .navigation-item {
    float: left;
    margin-bottom: 0;
    margin-left: 2.5rem;
    position: relative
}

.navigation .navigation-title, .navigation .title {
    color: #606c76;
    position: relative;
    font-size: 2.2rem;
    letter-spacing: .01rem;
}

.navigation .navigation-link, .navigation .navigation-title, .navigation .title {
    display: inline;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none
}

.navigation .navigation-link.active {
    color: #606c76
}

.page-header {
    position: relative;
    height: 300px;
    background-image: linear-gradient(#4a76ca, #3456ca);
}

.page-header h2 {
    color: white;
    padding: 100px 0;
    font-size: 44pt;
}

.page-header svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: #4a76ca;
    border: 0.1rem solid #4a76ca;
}

.button[disabled]:focus, .button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
    background-color: #4a76ca;
    border-color: #4a76ca;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
    background-color: transparent;
    color: #4a76ca;
}

.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
    color: #4a76ca;
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
    color: #4a76ca;
}

.button.button-clear[disabled]:focus, .button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
    color: #4a76ca;
}

pre {
    border-left: 0.3rem solid #4a76ca;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
    border-color: #4a76ca;
}

.alert-danger {
    color: #ff101a;
}

*, *:after, *:before {
    box-sizing: initial;
}

footer {
    bottom: 0;
    padding-top: 1rem;
}

.left-header {
    displaY: flex;
    align-items: center;
}

.open-dropdown {
    display: inline-block;
    background-image: url(images/arrow-down.svg);
    background-size: cover;
    height: 14px;
    width: 14px;
    margin-left: 7px;
}

.close-dropdown {
    display: inline-block;
    background-image: url(images/arrow-up.svg);
    background-size: cover;
    height: 14px;
    width: 14px;
    margin-left: 7px;
}

nav#sidebar {
    position: relative;
}

/* Sidebar */


.sidebar-toggler {
    display: none;
}

@media (max-width: 992px) {
    .wrapper .row .sidebar {
        position: fixed;
        z-index: 99999;
        width: 80% !important;
        max-width: 80% !important;
        flex: 0 0 80% !important;
    }

    .sidebar .footer {
        width: 80% !important;
    }

    .closed-on-mobile {
        display: none !important;
    }

    .sidebar-toggler {
        display: inline-flex;
        align-items: center;
        margin-right: 15px;
    }

    .sidebar-toggler img {
        height: 25px;
    }

    .row .column.column-80 {
        max-width: 100%;
    }

    section.container {
        max-width: 90% !important;
        box-sizing: border-box;
    }

    .navigation .container {
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        max-width: 100% !important;
    }

    .navigation .navigation-list {
        margin-right: 0px !important;
    }
}

.sidebar .navigation-list .navigation-item a {
    color: #90969b;
    font-size: 18px;
}

.sidebar .navigation-list .navigation-item {
    margin-bottom: 20px;
}

/*
.navigation-list .navigation-item ul{
  display: none;
}*/

/* End of Sidebar */

/* Header */

.wrapper .navigation .container {
    max-width: 100%;
}

.navigation .navigation-list {
    margin-right: 50px;
}

.navigation .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .navigation-title, .navigation .title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logo-image {
    height: 30px;
}

@media (max-width: 992px) {
    .logo-image {
        height: 25px;
    }
}

/* End of Header */

/* Footer */

.footer .elements a img {
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.sidebar .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 20%;
    background-color: transparent;
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Footer */

/* Elements */

.breadcrumb {
    color: #90969b;
    font-weight: 400;
}

.breadcrumb span:after {
    content: "-";
    padding-left: 10px;
    padding-right: 4px;
}

.breadcrumb span:last-child:after {
    content: "";
}

.content-wrapper {
    margin: 30px
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #7560FF;
    border: 1px solid #7560FF;
    color: white;
    text-transform: uppercase;
}

.button:hover, button:hover, input[type='button']:hover, input[type='reset']:hover, input[type='submit']:hover {
    background-color: white;
    color: #7560FF;
    border: 1px solid #7560FF;
    transition: 0.2s;
}

table tr th {
    color: #90969b;
    font-weight: 400;
    border-bottom: 0px;
}

.content-button {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #F27AE4;
    border: 1px solid #F27AE4;
}

@media (max-width: 1366px) {
    .content-button {
        position: relative;
        right: 0px;
        top: 0px;
        margin-bottom: 10px;
    }
}

.content-button:hover {
    border: 1px solid #F27AE4;
    color: #F27AE4;
    transition: 0.2s;
}

.table-action {
    font-size: 12px;
    padding: 2px 15px;
    height: 30px;
    background-color: #7560FF;
    border: 1px solid #7560FF;
}

table tr td .table-action {
    margin-right: 15px;
}

table tr td .table-action:last-child {
    margin-right: 0px;
}

table {
    margin-bottom: 0px;
}

.sample-table {
    margin-top: 50px;
}

input[type="text"], input[type="email"], input[type="password"], select {
    margin-bottom: 25px;
}

input:focus, input:hover {
    outline: none;
    border: 1px solid #7560FF !important;
    transition: 0.2s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.margin-top {
    margin-top: 30px;
}

label.radio {
    display: flex;
    align-items: center;
}

label.radio input {
    margin-right: 10px;
}

label.checkbox {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

label.checkbox input {
    margin-right: 10px;
}

fieldset {
    padding: 0px;
}

form {
    margin-bottom: 0px;
    margin-top: 15px;
}

.alert {
    font-weight: 600;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #7560FF;
    border-radius: 6px;
    padding: 5px 15px;
    background-color: #7560ff1c;
}

.alert.alert-danger {
    font-weight: 600;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #fa353e;
    border-radius: 6px;
    padding: 5px 15px;
    background-color: #f27a7a08;
}

.mobile-menu-open {
    display: none;
}

.mobile-menu-close {
    display: none;
}

@media (max-width: 992px) AND (prefers-color-scheme: light) {

    .mobile-menu-open {
        display: block;
    }

    .mobile-menu-open img {
        height: 30px;
    }

    .mobile-menu-close img {
        height: 30px;
    }

    .mobile-menu-close {
        display: block;
    }

    nav ul.navigation-list.top-menu {
        max-width: 100% !important;
        position: absolute;
        top: 42px;
        background-color: white;
        width: 100%;
        margin: 0px !important;
        float: none !important;
        display: none;
        flex-direction: column;
        box-sizing: border-box !important;
        margin-left: -20px !important;
        box-shadow: 0px 13px 20px 0 #0000001c;
    }

    .show-mobile-menu {
        display: flex !important;
    }

    nav.navigation {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 992px) AND (prefers-color-scheme: dark) {

    .mobile-menu-open {
        display: block;
    }

    .mobile-menu-open img {
        height: 30px;
    }

    .mobile-menu-close img {
        height: 30px;
    }

    .mobile-menu-close {
        display: block;
    }

    nav ul.navigation-list.top-menu {
        max-width: 100% !important;
        position: absolute;
        top: 42px;
        background-color: #211d39;
        width: 100%;
        margin: 0px !important;
        float: none !important;
        display: none;
        flex-direction: column;
        box-sizing: border-box !important;
        margin-left: -20px !important;
        box-shadow: 0px 13px 20px 0 #0000001c;
    }

    .show-mobile-menu {
        display: flex !important;
    }

    nav.navigation {
        display: flex;
        align-items: center;
    }
}

/* End of Elements */

/* Login */

.login-wrapper {
    min-height: calc(100vh - 17rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box form {
    margin-bottom: 0px;
}

.hidden {
    display: none !important;
}