{{ define "default.header" }}
    <nav class="navigation">
        <section class="container">

            <a class="navigation-title" href="/">
                <!-- TODO insert logo? -->
                <img class="logo-image logo-light" src="/default/images/logo-light.svg">
                <img class="logo-image logo-dark" src="/default/images/logo-dark.svg">
                <!--<h1 class="title">{{.WebsiteName}}</h1>-->
            </a>
            {{ .Menu "header" }}
        </section>
    </nav>
{{ end }}
