{{ define "default.admin.setting.add" }}
    <!DOCTYPE html>
    <html lang="en">
    {{ template "default.admin.head" . }}
    <body>

    <main class="wrapper">
        {{ template "default.admin.header" . }}

        <section class="container" id="site-add">
            <a class="button" href="/admin/settings">Back</a>

            {{ template "default.errorhandler" . }}

            <form method="post">
                <fieldset>
                    <label for="keyField">Key</label>
                    <input type="text" placeholder="" name="keyField" id="keyField">
                    <label for="valueField">Value</label>
                    <input type="text" placeholder="" name="valueField" id="valueField">
                    <input class="button-primary" type="submit" value="Add">
                </fieldset>
            </form>
        </section>

        {{ template "default.footer" . }}

    </main>
    </body>
    </html>
{{ end }}