{{ define "default.admin.header" }}
    <nav class="navigation">
        <section class="container">

            <div class="left-header">
                <div class="sidebar-toggler open-sidebar" onclick="showSidebar()">
                    <img src="/default/images/show-sidebar-light.svg">
                </div>
                <div class="sidebar-toggler close-sidebar hidden" onclick="hideSidebar()">
                    <img src="/default/images/close-sidebar-light.svg">
                </div>

                <a class="navigation-title" href="/admin/">
                    <img class="logo-image logo-light" src="/default/images/logo-light.svg">
                    <img class="logo-image logo-dark" src="/default/images/logo-dark.svg">
                    <!--<h1 class="title">{{.WebsiteName}} - {{.Title}}</h1>-->
                </a>
            </div>

            {{ .Menu "header" }}
        </section>
    </nav>
{{ end }}
