{{ define "default.admin.plugins" }}
    <!DOCTYPE html>
    <html lang="en">
    {{ template "default.admin.head" . }}
    <body>

    <main class="wrapper">
        {{ template "default.admin.header" . }}

        <div class="row">
            <div class="column column-20 sidebar">
                {{ template "default.admin.sidebar" . }}
            </div>
            <div class="column column-80">
                <section id="plugins-list">

                    {{ template "default.errorhandler" . }}

                    </table>
                </section>
            </div>
        </div>

        {{ template "default.footer" . }}

    </main>
    </body>
    </html>
{{ end }}