{{ define "default.admin.plugins" }}
    <!DOCTYPE html>
    <html lang="en">
    {{ template "default.admin.head" . }}
    <body>

    <main class="wrapper">
        {{ template "default.admin.header" . }}

        <div class="row">
            <div class="column column-20 sidebar">
                {{ template "default.admin.sidebar" . }}
            </div>
            <div class="column column-80">
                <section id="plugins-list">

                    {{ template "default.errorhandler" . }}

                    <table>
                        <tr>
                            <th>Name</th>
                        </tr>
                        {{if and (.Extra) (.Extra.plugins) }}
                            {{range $key, $value := .Extra.plugins}}
                                <tr>
                                    <td>{{ $key }}</td>
                                </tr>
                            {{end}}

                        {{ else }}
                            <tr>
                                <td colspan="3">There are currently no plugins</td>
                            </tr>
                        {{ end }}

                    </table>

                    </table>
                </section>
            </div>
        </div>

        {{ template "default.footer" . }}

    </main>
    </body>
    </html>
{{ end }}