{{ define "default.admin.users" }}
    <!DOCTYPE html>
    <html lang="en">
    {{ template "default.admin.head" . }}
    <body>

    <main class="wrapper">
        {{ template "default.admin.header" . }}

        <div class="row">
            <div class="column column-20 sidebar">
                {{ template "default.admin.sidebar" . }}
            </div>
            <div class="column column-80">
                <section id="users-list">

                    {{ template "default.errorhandler" . }}

                    <a class="button" href="/admin/users/add/">Add User</a>

                </section>
            </div>
        </div>

        {{ template "default.footer" . }}

    </main>
    </body>
    </html>
{{ end }}