{{ define "default.admin.users" }}
    <!DOCTYPE html>
    <html lang="en">
    {{ template "default.admin.head" . }}
    <body>

    <main class="wrapper">
        {{ template "default.admin.header" . }}

        <div class="row">
            <div class="column column-20 sidebar">
                {{ template "default.admin.sidebar" . }}
            </div>
            <div class="column column-80">
                <section id="users-list">

                    {{ template "default.errorhandler" . }}

                    <a class="button" href="/admin/users/add/">Add User</a>

                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {{if and (.Extra) (.Extra.users) }}
                            {{range .Extra.users}}
                                <tr>
                                    <td>{{ .id }}</td>
                                    <td>{{ .email }}</td>
                                    <td><a class="button" href="/admin/users/edit/{{ .id }}">Edit</a></td>
                                    <td><a class="button button-clear" href="/admin/users/delete/{{ .id }}">Delete</a>
                                    </td>
                                </tr>
                            {{end}}

                        {{ else }}
                            <tr>
                                <td colspan="3">There are currently no users</td>
                            </tr>
                        {{ end }}

                    </table>

                </section>
            </div>
        </div>

        {{ template "default.footer" . }}

    </main>
    </body>
    </html>
{{ end }}